<%= audio_tag "trial.mp3", class: "audio-play" %>
<p class="btn btn-primary audioButton" id="play_button">Play</p>

<script>
  document.getElementById("play_button").addEventListener("click", function(event) {
    var audio = new Audio("play_audio");
    audio.play();
  });
</script>
