<%= audio_tag "trial.mp3", class: "audio-play" %>
<p class="btn btn-primary audioButton" id="play_button">Play</p>

<script>
  document.getElementById("play_button").addEventListener("click", function(event) {
    var audio = new Audio("play_audio");
    audio.play();
  });
</script>
<br>
<p class="btn btn-primary audioButton" id="pantry_daddy">Whats The Name, Chris?</p>
<script>
  document.getElementById("pantry_daddy").addEventListener("click", function(event) {
    var audio = new Audio("whats_the_name");
    audio.play();
  });
</script>
<br>
<p class="btn btn-primary audioButton" id="only_god_knows">Now, Only God Knows</p>
<script>
  document.getElementById("only_god_knows").addEventListener("click", function(event) {
    var audio = new Audio("only_god_knows");
    audio.play();
  });
</script>