<%= audio_tag "trial.mp3", class: "audio-play" %>
<p class="btn btn-primary audioButton">Play</p>


<%= button_to "playem", play_audio_path, method: :get, remote: true, target: "_blank" %>

<script>
  document.addEventListener("ajax:success", function(event) {
    var audio = new Audio('trial.mp3') %>");
    audio.play();
  });
</script>
