<%= audio_tag "trial.mp3", class: "audio-play" %>
<p class="btn btn-primary audioButton" id="play_button">Play</p>

<script>
  document.getElementById("play_button").addEventListener("click", function(event) {
    var audio = new Audio("play_audio");
    audio.play();
  });
</script>

<br>

<p class="btn btn-primary audioButton" id="take_a_pom">Take a Pom</p>

<script>
  document.getElementById("take_a_pom").addEventListener("click", function(event) {
    var audio = new Audio("take_a_pom");
    audio.play();
  });
</script>

<br>

<p class="btn btn-primary audioButton" id="jeans_are_leg_prisons">Jeans are Leg Prisons</p>

<script>
  document.getElementById("jeans_are_leg_prisons").addEventListener("click", function(event) {
    var audio = new Audio("jeans_are_leg_prisons");
    audio.play();
  });
</script>

<br>

<p class="btn btn-primary audioButton" id="yes_thank_you">Yes, Thank You</p>

<script>
  document.getElementById("yes_thank_you").addEventListener("click", function(event) {
    var audio = new Audio("yes_thank_you");
    audio.play();
  });
</script>

<br>

<p class="btn btn-primary audioButton" id="what_is_time">What's Time?</p>

<script>
  document.getElementById("what_is_time").addEventListener("click", function(event) {
    var audio = new Audio("what_is_time");
    audio.play();
  });
</script>